<!DOCTYPE html>
<html lang="en">
{{>header}}
<style>
    #payment{
        margin-top:90px;
        text-align:center;
        background-color: rgb(81, 81, 255);
        height:50px;
        
    }

</style>
<body>
    {{>navbar}}
    {{>navbar2}}
    <div id="payment">
    <img src="calendar.png"/>
    <span>Razorpay will be available after the deployement</span>

    </div>
    
</body>
</html>