<!DOCTYPE html>
<html lang="en">

{{>header}}
<style>
    #slider{
        height:500px;
        width:100%;
        margin-top: 90px;
        background-image: url("kachra.jpg");
        background-size: 100% 100%;
        animation: Sliding 20s linear infinite ;
        }

   @keyframes Sliding {
            0%{
                background-image: url("kachra.jpg");
        }
            25%{
                background-image: url("trash.jpg");
             }
            50%{
                background-image: url("ocean.jpg");
        }
            75%{
                background-image: url("recycle.avif");
            }
            100%{
                background-image: url("green.jpg");
            }
        }
        @media (max-width:500px){
          #slider{
            height:300px;
            
          }
        }
</style>


<body>
{{>navbar}}
{{>navbar2}}
    <div id="slider" >
    </div>
    <div id="qoute">
    <p>"There is no such thing as "away" When we throw anything it must go somewhere"</p> 
    </div>
    <div id="head1"><b><h2>Sustainable Development</h2></b></div>
    <div id="sustain">
        <div class="sus_img">
            <img src="sus.avif" id="sus_photo"/>
        </div>
       <div id="content1"> As the concept of sustainability becomes increasingly necessary, local governments, manufacturers, and even private citizens are looking at ways to reduce waste volumes and waste collection costs. <a href="https://en.wikipedia.org/wiki/Industrial_waste#:~:text=Industrial%20waste%20is%20the%20waste,%2C%20mills%2C%20and%20mining%20operations.">Industrial waste</a>  gets a lot of attention due to its negative environmental impact and human health consequences. Still, all industries and sectors can benefit from more sustainable waste management practices.
But what exactly does sustainable waste management mean? It mainly involves the transition from the traditional make-use-dispose model of production to a more circular economy. In this economy, waste returns into the production cycle, either as new raw materials, energy, or a new product.
-This shift offers plenty of benefits to manufacturers. You can save on disposal costs and materials purchases by re-using products from your waste stream. And even better, you set the stage for future generations to develop new technologies to combat global warming and leave the planet in a better state than it’s been in a while.
       </div>
    </div>
    <div id="rs"><h2>The Three R's</h2>
    <div id="rec_photos"><img src="3rs.jpg" class="rs_photo" id="f1"/>
    <img src="reduce.jpg" class="rs_photo"/>
    
    <img src="reuse.jpg" class="rs_photo"/>
    <img src="Recycle001.svg.png" class="rs_photo"/>
    </div>
  </div>  
    <div id="sectors">
        <div><h2 class="heading">Sectors to be Worked</h2></div>
        <section id="sector2">
              <div class="card1">
                  <div><img src="https://chemindigest.com/wp-content/uploads/2022/03/LT-Builds-Indias-Largest-Wastewater-Treatment-Plant.jpg" class="card_photo"/></div>
                <div class="card_name"><b> Water Rejuvenation</b></div>  
                </div>
              <div class="card2">
                  <div><img src="https://i.ytimg.com/vi/KA6fY0-Amx4/maxresdefault.jpg" class="card_photo"/></div>
                <div class="card_name"><b>Sludge Management</b></div>  
                </div>
              <div class="card3">
                  <div><img src="https://cdia.asia/wp-content/uploads/2021/08/Vung-Tau1_IKhlasul-Amal-copy.jpg" class="card_photo"/></div>
                <div class="card_name"><b>Solid Waste Management</b></div>  
                </div>
              <div class="card4">
                  <div><img src="https://www.veoliawatertechnologies.com/sites/g/files/dvc2476/files/image/2022/05/VEOLIA_StJeanLaPoterie_JeromeSevrette_Andia_52.jpg" class="card_photo"/></div>
                <div class="card_name"><b>WasteWater Management</b></div>  
                </div>
        </section>
        <div id="btn1"><a href="/sector"><button>Know More</button></a></div>
    </div>

    <div id="services">
      <div><h2 class="heading">Services To Be Provided</h2></div>
      <section id="services2">
            <div class="card1">
                <div><img src="https://uploads.sarvgyan.com/2014/08/agricultural-engineering.jpg" class="card_photo"/></div>
              <div class="card_name"><b>Technological Engineering</b></div>  
              </div>
            <div class="card2">
                <div><img src="https://agreads.files.wordpress.com/2023/02/simpliigood-rd.jpg?w=1200" class="card_photo"/></div>
              <div class="card_name"><b>Research & Development</b></div>  
              </div>
            <div class="card3">
                <div><img src="https://mediaindia.eu/wp-content/uploads/2016/06/Corporate-training-2.jpg" class="card_photo"/></div>
              <div class="card_name"><b>Skilling People</b></div>  
              </div>
            <div class="card4">
                <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Statsbiblioteket_l%C3%A6sesalen-2.jpg/495px-Statsbiblioteket_l%C3%A6sesalen-2.jpg" class="card_photo"/></div>
              <div class="card_name"><b>Knowledege & Awareness</b></div>  
              </div>
      </section>
      <div id="btn2"><a href="/services"><button>Know More</button></a></div>
  </div>
   <div><h2 class="heading"><b>Government Initiative</b></h2></div>
  <section id="ini">
   <div class="ini2">
  
       <embed src="https://home.iitk.ac.in/~anubha/H16.pdf" id="pdf"/>
    
         <div id="content2">
          <div id="inner_content">
           <div id="icon1">
            <img src="https://uxdt.nic.in/wp-content/uploads/2020/01/NE_Preview1.png?x66576" class="icon"/>
           </div>
           <div id="item">India has been taking resolute steps to eliminate single-use plastics in line with the call given by Prime Minister Narendra Modi. To curb pollution caused by littered and unmanaged plastic waste, the Ministry of Environment, Forest and Climate Change (MoEFCC), Government of India, adopted a strategy with two pillars: enforcement of the ban on identified single-use plastic items, and implementation of extended producer responsibility on plastic packaging. The Guidelines on Extended Producer Responsibility (EPR) for Plastic Packaging were notified on 16th February 2022, which stipulated mandatory targets on EPR, recycling of plastic packaging waste, reuse of rigid plastic packaging, and use of recycled plastic content.<br>
            The SWM sector has seen positive changes during the past decade.<br>

1. Swachha Bharat Mission – Urban (SBM-U): With the enactment of new rules, it started door-to-door collection, segregation at source, etc.<br>

2. Swaccha Survekshan: An annual survey of cleanliness, hygiene and sanitation in cities and towns across India. It launched as a part of the SBM-U under the Ministry of Housing and Urban Affairs (MoHUA). It gives star ratings to garbage-free cities and towns on several factors.<br>

3. Swachhata Hi Sewa Campaign: for ensuring cleanliness through the various stakeholders’ engagement in the “Jan Andolan” (National Movement).<br>

4. Compost Banao, Compost Apnao Campaign: a multi-media campaign launched by MoHUAon waste-to-compost under SBM-(U). The aim is to encourage people to convert their kitchen waste into compost to be used as fertilizer and to reduce the amount of waste getting to landfill sites.<br>

5. Collection and disposal of Sanitary Waste under new rules: The standing committee on urban development revealed that 2,000 tonnes of sanitary waste is generated in India a day.<br>

6. Promotion of Waste to Energy: Ministry of new and Renewable Energy (MNRE) launched Program on Energy from Urban, Industrial, Agricultural waste/residues and Municipal Solid Waste to promote setting up of Waste-to-Energy projects and to provide central financial assistance.<br>

7. SWM is also a part of the National Mission on Sustainable Habitat (2010), which is one of the eights missions under the National Action Plan for Climate Change (NAPCC) and addresses sustainability concerns associated with habitats, primarily urban areas.<br>

8. Extended Producer Responsibility: under E-waste and Plastic Waste Management Rules, 2016<br>

We have to take part in government’s efforts towards SWM and emphasize on creation of role model towns and cities.<br>

Best Practices in SWM in India<br>
1. PPP between Pune Municipal Corporation and SWaCH, a cooperative of self-employed waste-pickers, to enhance the door-to-door collection.<br>

2. Parisar Vikas Program: An initiative supported by Stree Mukti Sanghatan and Greater Mumbai Municipal Corporation involving waste-pickers in community level recycling and processing.<br>

3. Waste-to-Energy bio-methanation plant at Koyambedu wholesale vegetable market, Chennai.<br>

4. Wake-up Clean-up Campaign and zero waste program involving the community in SWM by Bruhat Bengaluru Mahanagara Palike (BBMP).<br>

5. Exnora Green Pammal: Door-to-door collection, transportation and waste processing services using PPP to establish sustainable waste management systems in small towns.<br>

6. Trashcon: a technology startup providing complete end-to-end technology like ‘TrashBot’ that sorts the waste and recycles it, thus convert every bit of waste to value.<br>

7. Engage-14: An initiative by Gangtok Municipal Corporation to engage school students and generate awareness about sustainable waste management.<br>

Government initiatives and society’s best practices need to be supported and speed up by technology and innovation. One must learn from these practices and innovate further to visualize the goal of sustainable SWM.
           </div>

          </div>
        </div> 
      </div>
    
  </section>
</body>

</html>