<!DOCTYPE html>
{{>header}}
<body>
    {{>navbar}}
    {{>navbar2}}
    <section>
        <div id="impact_heading">
            IMPACT
        </div>
    </section>
    <section>
        <div id="video">
          <iframe
src="https://www.youtube.com/embed/Cti5HQZnTrQ?autoplay=1&mute=1&controls=0">
</iframe>
        </div>
    </section>
    <section>
        <div id="impact_content">
       <p> During the recent past, the management of solid waste has received
considerable attention from the Central and State Governments and local
(municipal) authorities in India. A number of partnerships/alliances are
found to exist in the field of solid waste management in Indian cities. These
alliances are public-private, community-public and private-private
arrangements. To identify the status of existing alliances in the study area, it
is first necessary to identify the various actors working in the field of waste
management. These actors can be grouped as under:</p>
<p>• Public sector: this comprises of local authority and local public
departments at city level;</p>
<p>• Private-formal sector: this constitutes large and small registered
enterprises doing collection, transport, treatment, and disposal and
recycling;</p>
<p>• Private-informal sector: this constitutes the small-scale, nonrecognized private sector and comprises of waste-pickers, dumppickers, itinerant-waste buyers, traders and non-registered small-scale
enterprises; </p>and
<p>• Community representatives in the form of NGOs, etc.</p>
<p>These actors enter into partnerships for providing various activities
related to solid waste management. These partnerships can be as follows:</p>
<p>• public-private (Local Authority and private enterprises);</p>
<p>• public-community (Local Authority and NGOs); etc</p>
<p>• private-private (waste-pickers, itinerant-waste buyers, waste traders
and dealers, wholesalers, small scale and large scale recycling
enterprises); and</p>
<p>• Public-private-community (Local Authority, private enterprises and
NGOs).</p>
National Solid Waste Association of India (NSWAI) is the only
leading professional non-profit organization in the field of Solid Waste
Management including Toxic and Hazardous Waste and also Biomedical
Waste in India. It was formed on January 25, 1996. NSWAI helps the
Ministry of Environment and Forest (MoEF), New Delhi in various fields of
solid waste management makes policies and action plans and is entrusted the
responsibility of collecting information and various data related to solid
waste management from the municipalities of Urban Class-I
cities(population more than 1Lakh) and Urban Class-II cities(population
above 50,000), collate and disseminate the information to website which is
European Scientific Journal June 2015 /SPECIAL/ edition ISSN: 1857 – 7881 (Print) e - ISSN 1857- 7431
<br>
linked to national and international organizations. The association is a
member of the International Solid Waste Association (ISWA), Copenhagen,
Denmark and provides forum for exchange of information and expertise in
the field of Solid Waste Management at the national and international level.
The other regulatory framework for waste management is related to
Indian government Initiatives for waste management under Jawaharlal Nehru
National Urban Renewal Mission (JNNURM), Urban Infrastructure
Development Scheme for Small & Medium Towns (UIDSSMT), “Recycled
Plastics Manufacture and Usage Rules (1999) amended and now known as
The Plastics Manufacture and Usage (Amendment) Rules (2003), “Draft
Guidelines for Sanitation in Slaughter Houses (1998)” by Central Pollution
Control Board (CPCB), Non-biodegradable Garbage (Control) Ordinance,
2006, Municipal Solid Wastes (Management and Handling) Rules, 2000, etc.
At the national policy level, the ministry of environment and forests has
legislated the Municipal Waste Management and Handling Rules 2000. This
law details the practices to be followed by the various municipalities for
managing urban waste. Other recent policy documents include the Ministry
of Urban Affairs’ Shukla Committee’s Report (January 2000) the Supreme
Court appointed Burman Committee’s Report (March 1999), and the Report
of the National Plastic Waste Management Task Force (August 1997). In
order to get a sense of the current status of sanitation in India's cities, a
survey was initiated by the Ministry of Urban Development as a part of the
National Rating and Award Scheme for Sanitation in Indian Cities. The
methods used for the survey can be found on the Ministry of Urban
Development website. The Government of India announced the National
Urban Sanitation Policy (NUSP) in 2008. As a part of this, the government
proposes to encourage states to develop their own sanitation strategies to
tackle their own sanitation problems and meet the goals of the NUSP. The
rating and award scheme has been taken up under this policy initiative.
The first major initiative was taken by the Honorable Supreme Court
of India in 1998, which resulted in formation of an expert committee to study
the status of SWM in Indian cities. This Committee identified the
deficiencies/gaps in the existing SWM system in the country and prepared
the Interim Report in 1999 on SWM Practices for few cities. As a second
major initiative, in conformance with Sections 3, 6 and 25 of the
Environment Protection Act of 1986, and on the basis on the
recommendations by the Committee, the Ministry of Environment and
Forests (MoEF) of the Government of India, developed and issued Municipal
Solid Waste (Management and Handling) Rules (MoUD, 2000). These rules
aim at standardization and enforcement of SWM practices in urban areas.
These rules dictate that “Every municipal authority shall, within the
territorial area of the municipality, be responsible for the implementation of
European Scientific Journal June 2015 /SPECIAL/ edition ISSN: 1857 – 7881 (Print) e - ISSN 1857- 7431
<br>
the provisions of these rules and infrastructure development for collection,
storage segregation, transportation, processing and disposal of municipal
solid wastes”. The municipal authorities are further required to submit a
detailed annual report on waste management to the Secretary-in charge of the
Department of Urban Development of the concerned State in case of a
metropolitan city; or to the District Magistrate or the Deputy Commissioner
concerned in case of all other towns and cities every year. As per NSWAI,
there are 303 projects till September 2009 running in the country related to
waste management, environment and others. The CPCB in collaboration
with National Environmental Engineering Research Institute (NEERI),
Nagpur has undertaken a detailed survey of 59 cities in the country to assess
the existing status of solid waste management in these cities (MoEF –India).
The objective of the survey was to assess the compliance status of 59 cities
with Municipal Solid Wastes (Management and Handling) Rules, 2000 and
initiatives taken for improving solid waste management practices. The 59
cities selected for study cover 35 metro cities. It has been observed that
initiatives for collection of waste from house-to-house and waste segregation
has been undertaken in only seven cities, privatization of transportation of
waste has been done in 11 cities and waste processing facilities have been set
up in 15 cities. Ten waste processing facilities are based on composting; one
of these composting facilities has provision for energy recovery also, four are
based on vermin-compositing, and one facility employs pelletisation and
energy recovery technology. In relation to hospital waste the Government of
India (Notification, 1998) specifies that Hospital Waste Management is part
of hospital hygiene and maintenance activities. This involves management of
a range of activities, which are mainly engineering functions, such as
collection, transportation, operation/treatment of processing systems, and
disposal of waste. If the infectious component gets mixed with the general
non-infectious waste, the entire mass becomes potentially infectious. Before
the notification of Bio-Medical Solid Waste (Management and Handling)
Rules 1998, now amended, waste from houses, streets, shops, offices,
industries and hospitals was the responsibility of municipal or governmental
authorities, but now it has become mandatory for hospitals, clinics, other
medical institutions and veterinary institutions to dispose of bio-medical
solid waste as per the Law. Besides all these initiatives Delhi Waste
Management (DWM) was formed in 2004 as a Special Purpose Vehicle
(SPV) in the Public Private Partnership (PPP) format for collection,
segregation and transportation to landfill sites of municipal waste. Over 1000
employees are employed as a part of this initiative.
<div id="graph1">
    <img src="https://www.epw.in/system/files/Figure_1.png" id="graph"/>
</div>
        </div>
    </section>
</body>
</html>