<!DOCTYPE html>
<html lang="en">
{{>header}}
<style>
    
</style>
<body>
{{>navbar}}
{{>navbar2}}

 <div id="sec_img">
   <div class="head_img"> 
    <div id="overlap">
   <b> SECTORS</b>
 </div>
 </div>
  </div>

 <section id="parent">
     <section id="sector2">
              <div class="card1">
                  <div><img src="https://chemindigest.com/wp-content/uploads/2022/03/LT-Builds-Indias-Largest-Wastewater-Treatment-Plant.jpg" class="card_photo"/></div>
                <div class="card_name"><b> Water Rejuvenation</b></div> 
                <div id="content_div">
                Water damage restoration includes the complete process of water cleanup from beginning to end–(removal of water, drying items and structures, and moving restored items back).

Water remediation is a term equivalent to water damage restoration. Water remediation includes the complete process of water cleanup, which includes water removal, drying items and structures, and then moving items back.
 

Water removal describes the act of removing water from the water damaged areas. Professionals use specialized equipment such as truck mounts to remove large amounts of water, commercial grade dehumidifiers, and high-velocity air movers.
 

Water extraction means the same thing as water removal. Professionals use specialized equipment to remove large amounts of water. Sometimes, water extraction is the term chosen if referring to extracting water in an outside environment.
 

Water mitigation refers to the process of preventing or reversing damage caused by the amount of water in the building. So water mitigation could be used to describe the water removal and/or the whole water cleaning process.
 

Flood cleanup means water from outside has moved inside. Flood water is considered contaminated and most people will need professional help in removing, sanitizing, and drying the areas which were affected.
                </div>
                <div class="btn_div"><button class="bton" onclick="toggle()">Learn More</button></div> 
                </div>
              <div class="card2">
                  <div><img src="https://i.ytimg.com/vi/KA6fY0-Amx4/maxresdefault.jpg" class="card_photo"/></div>
                <div class="card_name"><b>Sludge Management</b></div>  
                 <div id="content_div2">
                Sludge dewatering represents the general process of removing moisture from a sludge in order to reduce its total volume, and this is desirable in most cases for minimizing downstream sludge management and transportation costs. Many different technologies exist to accomplish this goal, such as decanter centrifuge and diverse press-like units. A simple alternative to these mechanical equipment are the geotextile dewatering tubes, which are disposable bags to which sludge is continually fed until a critical volume is reached, and then are allowed to drain naturally. Apart from having a simple operation, these bags allow for sludge accumulation over extended periods of time, until it is transported to the disposal site.
                Although the process is apparently simpler than other alternatives, it involves a set of decisions such as feeding patterns, number of required bags and sequencing, etc., which could lead to sub-optimal utilization of the technology.
                 The aim of this study is to detect these critical decisions, and then analyze strategies to optimize the process. The model used to represent the process will be the one proposed by Yee and Lawson (2012) will be used.

Optimization of the processing capacity of an individual tube is carried out, by finding a minimal operation time which in turn ensures that the optimization objective is achieved, as is described throughout this study.


                 
                 </div>
                <div class="btn_div" ><button class="bton" onclick="toggle2()">Learn More</button></div>
                </div>
              <div class="card3">
                  <div><img src="https://cdia.asia/wp-content/uploads/2021/08/Vung-Tau1_IKhlasul-Amal-copy.jpg" class="card_photo"/></div>
                <div class="card_name"><b>Solid Waste Management</b></div>  
                 <div id="content_div3">
                 Proper solid waste management (SWM) is critical for sustainable environmental development. Despite high-level policy efforts and technical investments, unmanaged solid waste remains a problem in many developing countries including Ghana. The quantity of waste generated is increasing in rural areas due to increased population. However, most waste management studies have concentrated on cities, such as Accra, Lagos, Addis Ababa, Dar es Salaam, Lusaka and Tshwane. Also, missing in such studies is an understanding of the rural gender perspective in SWM. This paper explains why rural gender perspectives should inform future policies and initiatives on SWM. Drawing on an exploratory research design, evidence was gathered through observations, semi-structured interviews, and focus group discussions. Our findings show that women solid waste workers were denied access to training programs on the use of tricycles (one of the methods of collecting and transporting solid wastes) on the basis that it requires physical strength. Traditional gendered divisions of labour in solid waste management were not only limited to the domestic space but also the public spaces. Policies to improve solid waste management in developing countries should consider a gender lens.

                 </div>
                <div class="btn_div"><button class="bton" onclick="toggle3()">Learn More</button></div>
                </div>
              <div class="card4">
                  <div><img src="https://www.veoliawatertechnologies.com/sites/g/files/dvc2476/files/image/2022/05/VEOLIA_StJeanLaPoterie_JeromeSevrette_Andia_52.jpg" class="card_photo"/></div>
                <div class="card_name"><b>WasteWater Management</b></div> 
                <div id="content_div4">
                Due to the constantly developing road network, a large number of new Motor Rest Area facilities are being built. The aim of the work is a critical assessment of the current wastewater management in the MRA and the proposal of appropriate solutions capable of purifying wastewater. The analysis of the current state of the MRA facilities was carried out on the basis of maps, own observations and an assessment of interest in the subject recently by reviewing publication resources. For this purpose, analyzes of the frequency of occurrence of keywords describing the issue were used. The solutions used so far are ineffective. This is mainly due to the perception of wastewater produced in MRA facilities as domestic wastewater. This assumption leads to the selection of inappropriate solutions, which in the long run can lead to an ecological disaster by introducing untreated sewage into the environment. The authors point to the possibility of introducing a circular economy in these places to relieve their environmental impact. Since, wastewater generated in MRA facilities, due to its specificity, is very difficult to treat. They are characterized by uneven inflow, a lack of organic matter, a low C:N ratio and very high concentration of ammonium nitrogen. Conventional activated sludge methods cannot cope with this.

                </div>
                <div class="btn_div"><button class="bton" onclick="toggle4()">Learn More</button></div> 
                </div>
        </section>

    
 </section>
        </body>
        <script>
            let content=document.getElementById("content_div");
            console.log(content);
            function toggle(){
                if(content.style.display==="none"){
                    content.style.display="block";
                    console.log(content);
                }
                else{
                    content.style.display="none";
                }
            }
            let content2=document.getElementById("content_div2");
            console.log(content);
            function toggle2(){
                if(content2.style.display==="none"){
                    content2.style.display="block";
                    console.log(content2);
                }
                else{
                    content2.style.display="none";
                }
            }
            let content3=document.getElementById("content_div3");
            console.log(content3);
            function toggle3(){
                if(content3.style.display==="none"){
                    content3.style.display="block";
                    console.log(content3);
                }
                else{
                    content3.style.display="none";
                }
            }
            let content4=document.getElementById("content_div4");
            console.log(content4);
            function toggle4(){
                if(content4.style.display==="none"){
                    content4.style.display="block";
                    console.log(content4);
                }
                else{
                    content4.style.display="none";
                }
            }
            
        </script>
</html>