<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
{{>navbar}}
{{>navbar2}}

 <div id="sec_image">
    <div class="head_img">
         <div id="overlap">
   <b> SERVICES</b>
 </div>
    </div>
 </div>
 <section id="parent">
     <section id="sector2">
              <div class="card1">
                  <div><img src="https://uploads.sarvgyan.com/2014/08/agricultural-engineering.jpg" class="card_photo"/></div>
                <div class="card_name"><b>Technological Engineering</b></div> 
                <div id="content_div">
               A waste management engineer undertakes the following:

Working alongside other team members, create seamless and well-designed waste disposal plans.
Write and monitor different types of necessary paperwork such as statistical records and reports.
Keep track of pollution levels in waste disposal sites.
Oversee and administer waste management budgets for efficient utilisation of allocated funds.
Ensure that all waste management measures are in keeping with current waste disposal, handling and transportation legislation.<br>
Depending on where you are working, a career as waste management engineer may take you to a landfill site, lab or to a federal office. You will largely be involved with a city’s waste removal systems and their schedule. Overseeing city and county workers as well as disposal transportation will require a collaborate approach in line with other waste management companies to ensure smooth operations. As an environmental engineer, you may also run a wide variety of tests on waste materials to ensure that soil and water resources are unaffected by hazardous chemicals. Running maintenance checks on hazardous waste disposal techniques and recycling centers will lead to efficient functioning.
                </div>
                <div class="btn_div"><button class="bton" onclick="toggle()">Learn More</button></div> 
                </div>
              <div class="card2">
                  <div><img src="https://agreads.files.wordpress.com/2023/02/simpliigood-rd.jpg?w=1200" class="card_photo"/></div>
                <div class="card_name"><b>Research & Development</b></div>  
                 <div id="content_div2">
The Waste Management & Research (WM&R) is ISWA’s monthly peer reviewed scientific journal that satisfies the growing demand for new and scientific information for reference by waste management professionals in academia, government, industry, planning, engineering, management and operations. WM&R presents original work in the form of review articles, original articles, short articles, and letters to the editor.
The Journal, has achieved an Impact Factor of 4.432 for 2021, a 25% increase compared to 2020. This is according to the recently released 2021 Journal Citation Reports of Clarivate on 30 June 2022.  The Impact Factor indicates the frequency on citations of articles published in the journal<br>
The Journal, has achieved an Impact Factor of 4.432 for 2021, a 25% increase compared to 2020. This is according to the recently released 2021 Journal Citation Reports of Clarivate on 30 June 2022.  The Impact Factor indicates the frequency on citations of articles published in the journal

                 
                 </div>
                <div class="btn_div" ><button class="bton" onclick="toggle2()">Learn More</button></div>
                </div>
              <div class="card3">
                  <div><img src="https://mediaindia.eu/wp-content/uploads/2016/06/Corporate-training-2.jpg" class="card_photo"/></div>
                <div class="card_name"><b>Skilling People</b></div>  
                 <div id="content_div3">
                Because of lack of domain skill of the waste workers, least possible investment in technologies to treat or dispose waste, lack of infrastructure, unhygienic conditions of working at the waste dumping grounds, inclination to ‘invest’ in popular (name & fame) schemes like schools, collages, hospitals, spiritual places instead of waste management & recycling facilities are the major cause of poor health of every citizens of this country.

It is a time to relook at the waste / discarded / used items from different specs and extends equal importance as we give to natural resources. Recycling of these can help us in two ways, one we can save depleting natural resources, (which we have borrowed from our children!) and secondly, we can safeguard our environment by implementing environment friendly (and commercially viable) technologies for the betterment of health of all and wealth of the nation.

I am pretty sure, that the families of 39 million waste workers in India will certainly remain thankful to the policy makers, regulators, implementing agencies, investors and other stakeholders, if we can provide healthier and meaningful life to our waste workers. 
                 </div>
                <div class="btn_div"><button class="bton" onclick="toggle3()">Learn More</button></div>
                </div>
              <div class="card4">
                  <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Statsbiblioteket_l%C3%A6sesalen-2.jpg/495px-Statsbiblioteket_l%C3%A6sesalen-2.jpg" class="card_photo"/></div>
                <div class="card_name"><b>Knowledge & Awareness</b></div> 
                <div id="content_div4">
                Waste management and disposal of waste is a serious issue that we are facing nowadays. If we are not aware of proper waste management, it leads to serious issues like air pollution, water pollution, and soil pollution. By doing small practices in our daily life we can make a huge difference. For that, we all have to practice the “3Rs” in our daily life.

The 3Rs – Reuse, Reduce, Recycle
Reduce- try to reduce the use of single-use products maximum especially plastic substances.

Reuse- always try to reuse day to life things. For example, carry kit when you are going for shopping.

Recycle- try maximum to recycle or reuse things other than disposing of.

Above all 3R’s will help us and our society for the proper disposal of waste management.

In a bid to raise awareness regarding effective disposal of waste, students of the Department of Communicative English visited a total of 329 houses in Mulavukad Grama Panchayat. They shared knowledge and strategies on proper waste management. With the help of Google Forms, the present methods of waste disposal were studied and the concept of bucket composting was introduced. A report based on the survey was later submitted to the Panchayat President.

                </div>
                <div class="btn_div"><button class="bton" onclick="toggle4()">Learn More</button></div> 
                </div>
        </section>

    
 </section>
        </body>
        <script>
            let content=document.getElementById("content_div");
            console.log(content);
            function toggle(){
                if(content.style.display==="none"){
                    content.style.display="block";
                    console.log(content);
                }
                else{
                    content.style.display="none";
                }
            }
            let content2=document.getElementById("content_div2");
            console.log(content);
            function toggle2(){
                if(content2.style.display==="none"){
                    content2.style.display="block";
                    console.log(content2);
                }
                else{
                    content2.style.display="none";
                }
            }
            let content3=document.getElementById("content_div3");
            console.log(content3);
            function toggle3(){
                if(content3.style.display==="none"){
                    content3.style.display="block";
                    console.log(content3);
                }
                else{
                    content3.style.display="none";
                }
            }
            let content4=document.getElementById("content_div4");
            console.log(content4);
            function toggle4(){
                if(content4.style.display==="none"){
                    content4.style.display="block";
                    console.log(content4);
                }
                else{
                    content4.style.display="none";
                }
            }
            
        </script>
</html>