
<header>
        <div id="upper">            
                 <img src="6133752182b156000425b3be.png" id="logo_img"/>
                 <div id="nav">
                    <ul id="list">
                        <li id="li1"><a href="/">Home</a></li>
                        <li id="li2"><a href="/sector">Sectors</a></li>
                        <li id="li3"><a href="/services">Services</a></li>
                        <li id="li4"><a href="/impacts">Impacts</a></li>
                        <li id="li5"><a href="/donate">Donate Us</a></li>
                        <li id="li6"><a href="/comments">Comments</a></li>
                     </ul>
                 </div>
            </div>
    </header>